<div class="card">
    <a href="#" class="link" target="_blank">
        {% load thumbnail %}
        {% thumbnail recipe.photo "480x480" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Какой-то текст" class="card__image" />
        {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
            <ul class="card__items">
                {% for tag in recipe.tag.all %}
                    <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag }}</span></li>
                {% endfor %}
            </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.duration }}</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    </div>
</div>