{% extends "base.html" %}

{% block title %}Вы вышли из системы{% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
                <p class="custom-text-block">Вы вышли из своей учётной записи. Ждём вас снова!</p>
                <div class="custom-button-block">
                    <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
                </div>
        </div>

    </main>
{% endblock %}
