{% extends "base.html" %}
{% load html_tags %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ title }}</h1>
            <ul class="tags">

                {% for tag in tags %}
                    <li class="tags__item">
                        <a id="{{ tag.slug }}"
                           class="tags__checkbox tags__checkbox_style_{{ tag.color }} {% if tag.slug in tags_active %}tags__checkbox_active{% endif %}"
                           href="{% if tag.slug in tags_active %}{% deactivate_tag request tags_active tag.slug %}{% else %}{% activate_tag request.get_full_path tag.slug %}{% endif %}"></a>
                        <span class="tags__label">{{ tag }}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>

        <div class="card-list">
            {% for recipe in page %}
                {% include "includes/recipe_item.html" with recipe=recipe %}
            {% endfor %}
        </div>

        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>

    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'indexAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'indexNotAuth.js' %}"></script>
    {% endif %}
{% endblock %}
